<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Remove</h1>
<p></p>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="furniture : ${furnitures}" class="checkbox">

        <input type="checkbox" name="furnitureIds" th:value="${furniture.id}" th:id="${furniture.id}" />
        <label th:for="${furniture.id}" th:text="${furniture.name}"></label>

    </div>
    <p></p>

    <input type="submit" value="Remove Furniture" />

</form>

</body>

</html>